# dependencies
node_modules/

# build outputs
dist/
dist-electron/
release/

# env files
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.kiro/

# misc
*.local

frontend/dist/
frontend/dist-electron/
frontend/release/